.ks_position_relative {
  position: relative;
}
.ks_position_absolute {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}
.flex_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ks_list_none {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.ks_horizental_list {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  height: 100%;
}
.ks_nav_line {
  content: "";
  position: absolute;
  height: 2px;
  right: 0px;
  left: 0px;
  background: #E02B4A;
  width: 100%;
}
.mbt_5 {
  margin-bottom: 5px;
  margin-top: 5px;
}
.mbt_0 {
  margin-bottom: 0px;
  margin-top: 0px;
}
textarea {
  min-height: 150px;
}
.submit_btn {
  border-radius: 3px;
  color: #fff;
  border: 0px;
  padding: 10px;
  font-size: 16px;
}
.ks_card_btns {
  background: #FFFFFF;
  border: 1px solid #D3D2D2;
  border-radius: 4px;
  color: #444445;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 8px 0px;
  margin: 8px 0px;
  text-decoration: none;
}
.ks_placeholder {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #8D8D8D;
}
.ks_pbt_30 {
  padding: 30px 0px;
}
.ks_pbt_30_0 {
  padding: 30px 0px 0px;
}
.ks_imgge_shadow {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(image.png);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.ks_heading_25 {
  font-size: 25px;
  color: #444445;
  margin-bottom: 5px;
  margin-top: 5px;
}
.ks_heading_20 {
  font-size: 20px;
  color: #444445;
  margin-bottom: 5px;
  margin-top: 5px;
}
.ks_heading_30 {
  font-size: 30px;
  color: #444445;
  margin-bottom: 5px;
  margin-top: 5px;
}
.ks_common_text {
  color: #696C6D;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 190.5%;
}
